<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item..." required />
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% todos.forEach(function(todo){ %>
                <li><%= todo.item %></li>
            <% }) %>
        </ul>
    </div>

    <script src="/jquery/jquery.js"></script>
    <script src="/js/todo-list.js"></script> 
    
</body>
</html>